/*-----------------------------------*\ 
 * #style.css
\*-----------------------------------*/

  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Chakra+Petch&display=swap');



:root {

  /**
   * colors
   */
   --caramel: rgba(210, 149, 115, 1);
  --cinnamon: rgba(190, 114, 097, 1);
  --light: rgba(159, 087, 084, 1);
  --city: rgba(125, 068, 072, 1);
  --dark: rgba(104, 066, 066, 1);
  --italian: rgba(073, 034, 051, 1);
  --alphaitalian: rgba(27, 21, 27, 0.3);
  --lightvanilla: rgba(233, 190, 155, 0.35);
  --lightervanilla: rgba(233, 190, 155, 0.15);
  --darkvanilla: rgba(233, 190, 155, 0.6);
  --vanilla: rgba(233, 190, 155, 1);


  /**
   * typography
   */

  --ff-roboto: 'Abel', sans-serif;
  --fs-1: 5rem;
  --fs-2: 4.5rem;
  --fs-3: 4rem;
  --fs-4: 3rem;
  --fs-5: 3.5rem;
  --fs-6: 3rem;
  --fs-7: 4rem;
  --fs-8: 2rem;
  --fs-9: 1.5rem;
  --fs-10: 1rem;
  

  --fw-500: 300;
  --fw-700: 500;

  /**
   * transition
   */

  --transition: 0.15s ease-in-out;

}

.dark-mode {
  background-color: black;
}



/*-----------------------------------*\
 * #RESET 
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none;
color: var(--dark); }

a:hover {
  color: var(--caramel);
}

li { list-style: none; }

button {
  color: inherit;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

button,
img,
input,
a,
span,
ion-icon { display: block; }



html {
  font-family: var(--ff-roboto);
  color: var(--dark);
  line-height: 1.3;
  scroll-behavior: smooth;
}

body {
  background: var(--rich-black-fogra-39);
  min-width: 280px;
  color: var(--dark);
  font-size: 2rem;
}

button, a, input, [tabindex] { outline-offset: 4px; }

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track {
  background: var(--dark);
  border-left: 1px solid var(--light);
}

::-webkit-scrollbar-thumb { background: var(--caramel); }



::-webkit-scrollbar-button { height: 5px; }





/*-----------------------------------*\
 * #REUSED STYLE 
\*-----------------------------------*/

.container { padding: 0 12px; }

.h1,
.h2,
.h3 { color: var(--dark); }

.h1 {
  font-size: 6rem;
  text-transform: capitalize;
}

.h2 { font-size: 70px; }

.h3 { font-size: 50px; }

.h4 {
  color: inherit;
  font-size: 40px;
  font-weight: var(--fw-700);
}

.h5 {
  font-size: 30px;
  font-weight: var(--fw-500);
}

.btn {
  color: var(--white);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  min-width: 130px;
  padding: 10px 15px;
  border: 1px solid var(--caramel);
  border-radius: 4px;
}

.btn-primary {
  background: var(--caramel);
  color: var(--dark);
  display: inline;
}

.btn-primary:hover{ background: var(--dark);
color: var(--caramel);
}






/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

header {
  padding: 20px 0;
  border-bottom: 1px solid var(--dark);
}

header .container {
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  justify-content: center !important;
}

.header-nav-wrapper { position: relative; }

.navbar {
  background: var(--dark);
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  width: 250px;
  padding: 15px;
  border-radius: 8px;
  transform: scale(0.8);
  transform-origin: top right;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--transition);
}

.navbar.active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.navbar-link {
  background: transparent;
  color: var(--white);
  font-size: var(--fs-7);
  padding: 8px 10px;
  border-radius: 4px;
}

.navbar-link:is(:hover, :focus) { background: var(--davys-gray); }

.navbar-toggle-btn {
  color: var(--white);
  font-size: 30px;
  padding: 5px;
}

.header-actions { display: none; }





/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero { padding: 10px 0; }

.hero-content {
  text-align: center;
  margin-top: -55px;
  margin-bottom: -10px;
}

.hero-title { margin-bottom: 15px; }

.hero-title > span {
  display: inline-block;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark);
  -webkit-text-fill-color: transparent;
}

.hero-text {
  color: var(--white);
  font-size: 30px;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero-banner {
  border: 20px solid var(--eerie-black-1);
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/*-----------------------------------*\
 * #ABOUT
\*-----------------------------------*/

.about { padding: 40px 0; }

.about-title {
  text-align: center;
  margin-bottom: 20px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin: 0px;
}

.about-item {
  background: var(--lightervanilla);
  padding: 10px;
  border-radius: 8px;
}

.about-card {
  position: relative;
  padding: 10px 10px 10px;
  border: 1px solid var(--light);
  border-radius: 4px;
  height: 450px !important;
}

.about-card::before,
.about-card::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  background: var(--sonic-silver);
  border-radius: 10px;
  transition: var(--transition);
}

.about-card::before {
  width: 3px;
  height: 100px;
}

.about-card::after {
  width: 100px;
  height: 3px;
}

.about-item:hover .about-card::before,
.about-item:hover .about-card::after { background: var(--caramel); }

.about-card .card-number {
  position: absolute;
  top: -12px;
  left: -15px;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: var(--fw-700);
  border-top-left-radius: 18px;
  border: 14px solid var(--eerie-black-2);
}

.card-icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.about-card-title {
  margin-bottom: 20px;
  transition: var(--transition);
}

.about-item:hover .about-card-title { color: var(--caramel); }

.about-card-text {
  font-size: 25px;
  line-height: 1.5;
}





/*-----------------------------------*\
 * #TOP SELLER 
\*-----------------------------------*/

.top-seller { padding: 40px 0; }

.top-seller-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  margin-bottom: 20px;
  gap: 5px;
}

.top-seller-title span { color: var(--light); 
display: inline;
}

.top-seller-title ion-icon { margin-left: 10px; }

.top-seller-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.top-seller-item {
  background: var(--lightervanilla);
  padding: 5px;
  border-radius: 8px;
  height: 120px;
}

.top-seller-card {
  position: relative;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  border: 1px solid var(--light);
  border-radius: 4px;
}

.top-seller-card::before,
.top-seller-card::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: -1px;
  background: var(--dark);
  transition: var(--transition);
}

.top-seller-card::before {
  width: 2px;
  height: 37px;
}

.top-seller-card::after {
  width: 37px;
  height: 2px;
}

.top-seller-card:hover::before,
.top-seller-card:hover::after { background: var(--dark); }

.top-seller .card-number {
  position: absolute;
  top: -6px;
  right: -8px;
  background: var(--dark);
  font-size: var(--fs-10);
  font-weight: var(--fw-700);
  color: var(--caramel);
  padding: 5px 10px;
  border-top-right-radius: 10px;
  border: 7px solid var(--eerie-black-2);
}

.card-avatar {
  position: relative;
  background: var(--dark);
  border-radius: 50%;

}

.card-avatar img {
  width: 50px;
  height: 50px;
}

.avatar-badge {
  position: absolute;
  bottom: 5px;
  right: 0;
  background: var(--caramel);
  color: var(--dark);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-badge ion-icon { --ionicon-stroke-width: 70px; }

.top-seller .card-title {
  color: var(--caramel);
  transition: var(--transition);
}

.top-seller-card:hover .card-title { color: var(--dark); }

.top-seller .card-content data {
  color: var(--caramel);
  font-size: var(--fs-10);
}





/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer-top {
  background: var(--dark);
  padding: 40px 0;
  color: var(--caramel);
  font-size: 15px;
}

.footer-top .logo { margin-bottom: 25px; }

.footer-brand { 
  font-size: 15px;
  margin-bottom: 40px;
  margin-right: 10px;
  display: inline-block;
  
  
}

.footer-brand-text { 
 
  font-size: 25px !important;
  display: none; }

.social-title {
  color: var(--caramel);
  font-size: 20px;
  margin-bottom: 25px;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: var(--caramel);

}

.social-link {
  background: var(--eerie-black-1);
  color: var(--caramel);
  padding: 15px;
  font-size: 20px;
  border-radius: 50%;
  transition: var(--transition);
}

.social-link:hover { color: var(--lightervanilla); }

.footer-link-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}

.footer-item-title {
  color: var(--caramel);
  font-weight: var(--fw-500);
  margin-bottom: 10px;
}

.footer-item {
  position: relative;
  transition: var(--transition);
  font-size: 25px !important;
}

.footer-item::before {
  position: absolute;
  content: "";
  bottom: 12px;
  left: 0;
  width: 8px;
  height: 8px;
  background: var(--quick-silver);
  border-radius: 50%;
  border: 2px solid var(--caramel);
  transition: var(--transition);
}

.footer-item:hover::before {
  background: var(--caramel);
  border-color: var(--light);
}

.footer-link {
  color: var(--caramel);
  font-size: 25px;
  margin-bottom: 5px;
  padding-left: 15px;
  transition: var(--transition);
}

.footer-item:hover .footer-link { color: var(--caramel); }

.footer-item:hover::before,
.footer-item:hover .footer-link { transform: translateX(10px); }

.footer-bottom {
  background: var(--eerie-black-1);
  padding: 25px 0;
  color: var(--quick-silver);
}

.copyright {
  font-size: 25px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 15px;
}

.copyright > a {
  display: inline-block;
  color: var(--white);
}

.copyright > a:hover { color: var(--caramel); }

.footer-bottom-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 20px;
}

.footer-bottom-links a {
  color: var(--dark);
  font-size: 25px;
  transition: var(--transition);
}

.footer-bottom-links a:hover { color: var(--caramel); }





/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  background: var(--dark);
  color: var(--caramel);
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 24px;
  border-radius: 50%;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.go-top:hover { --eerie-black-1: hsl(0, 0%, 20%); }






@media (min-width: 450px) {

  

  .container {
    max-width: 400px;
    margin: auto;
  }



  /

  .footer-link-box { grid-template-columns: 1fr 1fr; }

}





/**
 * responsive for larger than 650px screen
 */

@media (min-width: 650px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 600px; }



  /**
   * HERO
   */

  .hero .container { max-width: 450px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: 1fr 1fr; }



  /**
   * FOOTER
   */

  .footer-brand { text-align: center; }

  .footer-top .logo {
    width: max-content;
    margin-inline: auto;
  }

  .footer-brand-text {
    display: block;
    font-size: var(--fs-7);
    max-width: 400px;
    margin: auto;
    margin-bottom: 25px;
  }

  .social-list { justify-content: center; }

  .footer-link-box { grid-template-columns: repeat(3, 1fr); }

  .footer-item-title {
    --fs-2: 22px;
    margin-bottom: 30px;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright { 
    margin-bottom: 0; }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 38px;
    --fs-3: 35px;
    --fs-7: 18px;
    --fs-9: 17px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 700px; }

  .btn { padding: 14px 20px; }



  /**
   * HERO
   */

  .hero { padding: 100px 0; }

  .hero .container {
    min-height: 70vh;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 25px;
  }

  .hero-content {
    text-align: left;
    margin-bottom: 0;
  }

  .btn-group { justify-content: flex-start; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER, FOOTER
   */

  .new-product,
  .about,
  .explore-product,
  .top-seller,
  .footer-top { padding: 100px 0; }

  .section-header-wrapper,
  .about-title,
  .top-seller-title { margin-bottom: 60px; }



  /**
   * GO TO TOP
   */

  .go-top {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

}





/**
 * responsive for larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 45px;
    --fs-9: 16px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }



  /**
   * HEADER
   */

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .header-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .search-field {
    background: var(--eerie-black-1);
    color: var(--gray-web);
    padding: 0 15px;
    border: 1px solid var(--dark);
    border-radius: 4px;
  }



  /**
   * HERO
   */
   
  .hero .container {
    max-width: 950px;
    gap: 20px;
  }

  .hero-title,
  .hero-text { margin-bottom: 30px; }

  .hero-text { --fs-7: 18px; }

  .btn-group { gap: 20px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-brand {
    max-width: 280px;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-top .logo,
  .footer-brand-text { margin-inline: 0; }

  .social-list { justify-content: flex-start; }

  .footer-link-box { gap: 60px; }

  .footer-item-title {
    --fs-2: 25px;
    margin-bottom: 30px;
  }

.footer-item {
  font-size: 15px;
}

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 55px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px; }



  /**
   * HEADER
   */

  .header-right,
  .header-nav-wrapper { flex-grow: 1; }

  .navbar-toggle-btn { display: none; }

  .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: scale(1);
    position: static;
    background: none;
    width: 100%;
    padding: 0;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-link { position: relative; }

  .navbar-link:is(:hover, :focus) {
    background: none;
    color: var(--dark);
  }

  .navbar-link::after {
    --scaleY: scaleY(0);

    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) var(--scaleY);
    transform-origin: bottom;
    width: 2px;
    height: 10px;
    background: linear-gradient(to top, var(--dark), transparent);
    transition: var(--transition);
  }

  .navbar-link:hover::after,
  .navbar-link:focus::after { --scaleY: scaleY(1); }



  /**
   * HERO
   */

  .hero .container {
    max-width: 1150px;
    gap: 50px;
  }

  .hero-title,
  .hero-text { margin-bottom: 35px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * ABOUT
   */

  .about-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }



  /**
   * FOOTER
   */
  .footer-list { min-width: 180px; }

}

.logo img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.progress-container {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 5px;
}

.article-progress {
  background: var(--caramel);
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.1s ease;
}

.sec-1 {
  background: #cee7ff;
}
.sec-2 {
  background: #ffd9e5;
}
.sec-3 {
  background: #ffe9d1;
}
.sec-4 {
  background: #e6ffda;
}


.reaction {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.like,
.unlike {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.like {
  color: #f81348;
  animation: like 0.3s ease-in forwards;
  background: #f813482b;
}
.unlike {
  animation: unlike 0.17s ease-in reverse forwards;
  border-radius: 50%;
  background: #43434338;
}
@keyframes like {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes unlike {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

